# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env
.env.local
.env.production
.env.development
.DS_Store

# Logs
logs
*.log
debug.log

# OS
Thumbs.db
.DS_Store

# Vercel
.vercel

# Supabase
.supabase/
supabase/.temp/
supabase/migrations/
.supabase/cli*

# Next.js / React
.next/
out/
build/
.cache/

# IDEs
.vscode/
.idea/

# Testing
coverage/
jest-coverage/
cypress/screenshots/
cypress/videos/
